numpy
pandas
seaborn
matplotlib
torch
torchvision
nngeometry
watermark
tqdm
opencv-python
opencv-python-headless
grad-cam
pennylane
torchsummary
torchinfo
qiskit
qiskit_machine_learning
mapomatic
qiskit_ibm_runtime